/* --------- FORUM --------- */

.discuss-section {
    margin-top: 80px;
}

.discuss-section h1 {
    padding: 20px 0;
}

.discuss-section a {
    color: #CCC;
}

.forum .send-theme-form {
    margin: 20px;
}

.forum .send-theme-form input[type=text] {
    background-color: #262626;
    color: #CCC;
    margin: 15px 0;
}

.forum .send-theme-form .send-btn {
    margin: 0 auto;
}