/* --------- HEADER --------- */

.header {
    background-color: #323233;
    padding: 5px 0;
    color: #CCC;
    position: fixed;
    top : 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  
  .main-menu {
    color: aliceblue;
    background-color: #323233;
    padding: 5px 0;
  }
  
  .logo {
    color: #CCC;
  }
  
  .main-menu > .nav {
    margin: auto 0;
  }
  
  .nav-link, .btn, .btn-outline-light {
    color: #CCC;
  
  }
  
  .user-btns {
    margin: auto 0;
  
  }
  
  .user-btns > .btn {
    width: 37%;
  }
  
  .registr {
    margin-left: 4%;
    align-self: flex-end;
    color: #323233;
    background-color: #CCC;
    border-color: #CCC;
  }

  .user-header-img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-image: url("https://vk.com/images/camera_200.png");
    background-position: center;
    background-size: contain;
  }

  .user-profile-link {
    margin-right: 25px;
  }
  
  