/* --------- NEWS --------- */

.news-section {
    margin-top: 80px;
  }
  
  .news-section > h1 {
    padding: 20px 0;
  }
  
  .news-item {
    border: 1px solid #323233;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
  }
  
  .news-item > .image {
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clear: both;
    height: 150px;
    width: 200px;
  }
  
  .text > h3 {
    margin: 5px 0;
  }
  
  .text > p {
    margin-bottom: 0;
  }
  
  .text > a {
    color: #CCC;
  }