/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/


body {
  color: #CCC;
  background-color: #252526;
}

.container {
  padding: 0;
}

/* --------- HEADER --------- */

.header {
  background-color: #323233;
  padding: 5px 0;
  color: #CCC;
  position: fixed;
  top : 0;
  width: 100%;
}

.main-menu {
  color: aliceblue;
  background-color: #323233;
  padding: 5px 0;
}

.logo {
  color: #CCC;
}

.main-menu > .nav {
  margin: auto 0;
}

.nav-link, .btn, .btn-outline-light {
  color: #CCC;

}

.user-btns {
  margin: auto 0;

}

.user-btns > .btn {
  width: 37%;
}

.registr {
  margin-left: 4%;
  align-self: flex-end;
  color: #323233;
  background-color: #CCC;
  border-color: #CCC;
}



/* --------- NEWS --------- */

.news-section {
  margin-top: 80px;
}

.news-section > h1 {
  padding: 20px 0;
}

.news-item {
  border: 1px solid #323233;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
}

.news-item > .image {
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
  height: 150px;
  width: 200px;
}

.text > h3 {
  margin: 5px 0;
}

.text > p {
  margin-bottom: 0;
}

.text > a {
  color: #CCC;
}

/* --------- SIGN-UP --------- */

.content {
  margin-top: 80px;
}

.sign-up {
  width: 100%;
}

.sign-up > h1 {
  padding: 20px 0;
}

.user-image-form {
  background-image: url("https://vk.com/images/camera_200.png");
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-position: center;
}

.sign-up input[type=text],
.sign-up input[type=email],
.sign-up input[type=password] {
  background-color: #323233;
  border-color: #323233;
  color: #CCC;
}